Question1
Create a function that takes three parameters where:
 x is the start of the range (inclusive).
 y is the end of the range (inclusive).
 n is the divisor to be checked against.
Return an ordered list with numbers in the range that are divisible by the third parameter n.
Return an empty list if there are no numbers that are divisible by n.
Examples
list_operation(1, 10, 3) ➞ [3, 6, 9]
list_operation(7, 9, 2) ➞ [8]
list_operation(15, 20, 7) ➞ []

In [2]:
def list_operation(a,b,c):
    l=[]
    for i in range(a,b+1):
        if i%c == 0:
            l.append(i)
    return l

In [3]:
list_operation(1, 10, 3)

[3, 6, 9]

In [4]:
list_operation(7, 9, 2)

[8]

In [5]:
list_operation(15, 20, 7)

[]

Question2
Create a function that takes in two lists and returns True if the second list follows the first list
by one element, and False otherwise. In other words, determine if the second list is the first
list shifted to the right by 1.
Examples
simon_says([1, 2], [5, 1]) ➞ True
simon_says([1, 2], [5, 5]) ➞ False
simon_says([1, 2, 3, 4, 5], [0, 1, 2, 3, 4]) ➞ True
simon_says([1, 2, 3, 4, 5], [5, 5, 1, 2, 3]) ➞ False
Notes
 Both input lists will be of the same length, and will have a minimum length of 2.
 The values of the 0-indexed element in the second list and the n-1th indexed element
in the first list do not matter.

In [89]:
def simon_says(l1,l2):
    len1 = len(l1)
    l3 =l1[0:len1-1]
    l4 = l2[1:len1]
    if l3==l4:
        return True
    else:
        return False

In [90]:
simon_says([1,2,3,4,5],[0,1,2,3,4])

True

In [91]:
simon_says([1, 2], [5, 5])

False

In [92]:
simon_says([1, 2, 3, 4, 5], [5, 5, 1, 2, 3])

False

In [76]:
l = [1,2]
len(l)

2

Question3
A group of friends have decided to start a secret society. The name will be the first letter of
each of their names, sorted in alphabetical order.
Create a function that takes in a list of names and returns the name of the secret society.

Examples
society_name([&quot;Adam&quot;, &quot;Sarah&quot;, &quot;Malcolm&quot;]) ➞ &quot;AMS&quot;
society_name([&quot;Harry&quot;, &quot;Newt&quot;, &quot;Luna&quot;, &quot;Cho&quot;]) ➞ &quot;CHLN&quot;
society_name([&quot;Phoebe&quot;, &quot;Chandler&quot;, &quot;Rachel&quot;, &quot;Ross&quot;, &quot;Monica&quot;, &quot;Joey&quot;])

In [29]:
def society_name(l):
    str1 = ''
    for i in l:
        str1 = str1+i[0]
    return (('').join(sorted(str1)))

In [30]:
society_name(["Adam", "Sarah", "Malcolm"])

'AMS'

In [31]:
society_name(["Harry", "Newt", "Luna", "Cho"])

'CHLN'

In [32]:
society_name(["Phoebe", "Chandler", "Rachel", "Ross", "Monica", "Joey"])

'CJMPRR'

Question4
An isogram is a word that has no duplicate letters. Create a function that takes a string and
returns either True or False depending on whether or not it&#39;s an &quot;isogram&quot;.
Examples
is_isogram(&quot;Algorism&quot;) ➞ True
is_isogram(&quot;PasSword&quot;) ➞ False
# Not case sensitive.
is_isogram(&quot;Consecutive&quot;) ➞ False
Notes
 Ignore letter case (should not be case sensitive).
 All test cases contain valid one word strings.

In [13]:
def is_isogram(str1):
    for i in str1:
        if i not in str1:
            return True
        else:
            return False

In [14]:
is_isogram("abcde")

False

Question5
Create a function that takes a string and returns True or False, depending on whether the
characters are in order or not.
Examples
is_in_order(&quot;abc&quot;) ➞ True
is_in_order(&quot;edabit&quot;) ➞ False
is_in_order(&quot;123&quot;) ➞ True
is_in_order(&quot;xyzz&quot;) ➞ True
Notes
You don&#39;t have to handle empty

In [33]:
def is_in_order(s):
    n = len(s)
    for i in range(1,n):
        if (s[i]<s[i-1]):
            return False
    return True

In [34]:
is_in_order("abc")

True

In [36]:
is_in_order("edabit")

False

In [37]:
is_in_order("123")

True

In [38]:
is_in_order("xyzz")

True