Question1
Create a function that takes an integer and returns a list from 1 to the given number, where:
1. If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the
number).
2. If the number cannot be divided evenly by 4, simply return the number.
Examples
amplify(4) ➞ [1, 2, 3, 40]
amplify(3) ➞ [1, 2, 3]
amplify(25) ➞ [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160,
17, 18, 19, 200, 21, 22, 23, 240, 25]
Notes
 The given integer will always be equal to or greater than 1.
 Include the number (see example above).
 To perform this problem with its intended purpose, try doing it with list
comprehensions. If that&#39;s too difficult, just solve the challenge any way you can.

In [8]:
def amplify(n):
    l=[]
    for i in range(1,n+1):
        if i%4!=0:
            l.append(i)
        else:
            l.append(10*i)
    return l

In [9]:
amplify(4)

[1, 2, 3, 40]

In [10]:
amplify(3)

[1, 2, 3]

In [11]:
amplify(25)

[1,
 2,
 3,
 40,
 5,
 6,
 7,
 80,
 9,
 10,
 11,
 120,
 13,
 14,
 15,
 160,
 17,
 18,
 19,
 200,
 21,
 22,
 23,
 240,
 25]

In [16]:
# using list comprehensions.

In [14]:
def amplify_com(n):
    l=[]
    l=[ i*10 if i%4 ==0 else i for i in range(1,n+1)]
    return l

In [15]:
amplify_com(4)

[1, 2, 3, 40]

In [18]:
amplify_com(3)

[1, 2, 3]

In [19]:
amplify_com(25)

[1,
 2,
 3,
 40,
 5,
 6,
 7,
 80,
 9,
 10,
 11,
 120,
 13,
 14,
 15,
 160,
 17,
 18,
 19,
 200,
 21,
 22,
 23,
 240,
 25]

Question2
Create a function that takes a list of numbers and return the number that&#39;s unique.
Examples
unique([3, 3, 3, 7, 3, 3]) ➞ 7
unique([0, 0, 0.77, 0, 0]) ➞ 0.77
unique([0, 1, 1, 1, 1, 1, 1, 1]) ➞ 0
Notes
Test cases will always have exactly one unique number while all others are the same.

In [32]:
def unique(l):
    from collections import Counter
    unique = Counter(l)
    return min(unique,key = unique.get)

In [33]:
unique([3, 3, 3, 7, 3, 3])

7

In [34]:
unique([0, 0, 0.77, 0, 0])

0.77

In [35]:
unique([0, 1, 1, 1, 1, 1, 1, 1])

0

In [ ]:
Question3
Your task is to create a Circle constructor that creates a circle with a radius provided by an
argument. The circles constructed must have two getters getArea() (PIr^2) and
getPerimeter() (2PI*r) which give both respective areas and perimeter (circumference).

For help with this class, I have provided you with a Rectangle constructor which you can use
as a base example.
Examples
circy = Circle(11)
circy.getArea()
# Should return 380.132711084365
circy = Circle(4.44)
circy.getPerimeter()
# Should return 27.897342763877365
Notes
Round results up to the nearest integer.

In [55]:
import math
class Circle:
    def __init__(self,rad):
        self.radius = rad
    def getPerimeter(self):
        return round(2*math.pi*self.radius)
    def getArea(self):
        return round(math.pi*self.radius*self.radius)

In [56]:
circy = Circle(11)

In [57]:
circy.getPerimeter()

69

In [58]:
circy.getArea()

380

In [59]:
circy = Circle(4.44)
circy.getPerimeter()

28

Question4
Create a function that takes a list of strings and return a list, sorted from shortest to longest.
Examples
sort_by_length([&quot;Google&quot;, &quot;Apple&quot;, &quot;Microsoft&quot;])
➞ [&quot;Apple&quot;, &quot;Google&quot;, &quot;Microsoft&quot;]
sort_by_length([&quot;Leonardo&quot;, &quot;Michelangelo&quot;, &quot;Raphael&quot;, &quot;Donatello&quot;])
➞ [&quot;Raphael&quot;, &quot;Leonardo&quot;, &quot;Donatello&quot;, &quot;Michelangelo&quot;]
sort_by_length([&quot;Turing&quot;, &quot;Einstein&quot;, &quot;Jung&quot;])
➞ [&quot;Jung&quot;, &quot;Turing&quot;, &quot;Einstein&quot;]
Notes
All test cases contain lists with strings of different lengths, so you won&#39;t have to deal with
multiple strings of the same length.

In [66]:
def sort_by_length(l):
    sorted_list = list(sorted(l, key = len))
    return sorted_list

In [68]:
sort_by_length(["Google", "Apple", "Microsoft"])

['Apple', 'Google', 'Microsoft']

In [67]:
sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"])

['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']

In [69]:
sort_by_length(["Turing", "Einstein", "Jung"])

['Jung', 'Turing', 'Einstein']

In [ ]:
Question5
Create a function that validates whether three given integers form a Pythagorean triplet. The
sum of the squares of the two smallest integers must equal the square of the largest number to
be validated.

Examples
is_triplet(3, 4, 5) ➞ True
# 3² + 4² = 25
# 5² = 25
is_triplet(13, 5, 12) ➞ True
# 5² + 12² = 169
# 13² = 169
is_triplet(1, 2, 3) ➞ False
# 1² + 2² = 5
# 3² = 9
Notes
Numbers may not be given in a sorted order.

In [6]:
def is_triplet(a,b,c):
    nums = [a,b,c]
    nums.sort()
    if ((nums[0]**2+nums[1]**2)==nums[2]**2):
        return True
    else:
        return False

In [7]:
is_triplet(3, 4, 5)

True

In [8]:
is_triplet(13, 5, 12)

True

In [9]:
is_triplet(1, 2, 3)

False