Question1
Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.
Examples
filter_list([1, 2, 3, &quot;a&quot;, &quot;b&quot;, 4]) ➞ [1, 2, 3, 4]
filter_list([&quot;A&quot;, 0, &quot;Edabit&quot;, 1729, &quot;Python&quot;, &quot;1729&quot;]) ➞ [0, 1729]
filter_list([&quot;Nothing&quot;, &quot;here&quot;]) ➞ []

In [8]:

def filter_list(list1):
    list_output = []
    for i in list1:
        if type(i)== int:
            list_output.append(i)
    return(list_output)

In [13]:
l1 = filter_list([1,2,3,'a','b',4])
l1

[1, 2, 3, 4]

In [15]:
l2 = filter_list(["A",0,"Edabit",1729,"python","1729"])
l2

[0, 1729]

In [17]:
l3 = filter_list(["Nothing","here"])
l3

[]

Question2
Given a list of numbers, create a function which returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [22]:

def add_indexs(l):
    index = 0
    l1 = []
    for i in l :
        l1.append(i+index)
        index = index+1
    return l1

In [23]:
l1 = add_indexs([1,2,3,4,5])
l1

[1, 3, 5, 7, 9]

In [24]:
l2 = add_indexs([5,4,3,2,1])
l2

[5, 5, 5, 5, 5]

Question3
Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

Examples
cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49
cone_volume(18, 0) ➞ 0

In [56]:
def cone_volume(h,r):
    import math
    volume = (math.pi)*r*r*h/3
    return(round(volume,2))

In [57]:
cone_volume(3,2)

12.57

In [58]:
cone_volume(15,6)

565.49

In [59]:
cone_volume(18,0)

0.0

Question4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.
Examples
triangle(1) ➞ 1
triangle(6) ➞ 21
triangle(215) ➞ 23220

In [65]:
def triangle(n):
    n =n+1
    sum1 = 0
    for i in range(1,n):
        sum1 = sum1+i
    return sum1

In [66]:
triangle(1)

1

In [67]:
triangle(6)

21

In [68]:
triangle(215)

23220

Question5
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

In [35]:

def missing_num(l):
    miss_num = []
    for i in range(1,11):
        if i not in l:
            miss_num.append(i)
    return miss_num

In [37]:
missing_num([1,2,3,4,5,7,8,9])

[6, 10]

In [38]:
missing_num([7,2,3,6,5,9,1,4,8])

[10]

In [39]:
missing_num([10,5,1,3,6,2,9,1,4,8])

[7]